*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board-body{
    border: 2px solid black;
    padding: 8px;
}
#board{
    position: relative;
    width: 760px;
    height: 500px;
    

}
.ball{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
}

.uBlock , .cBlock{
    position: absolute;
    width: 100px;
    height: 25px;
    background-color:gray;
}
.uBlock{
    bottom: 0px;
}
.cBlock{
    background-color:red;
}
